html {
    color: #FFE81F;
    background-color: black;
    background-image: url('https://cdn.wallpapersafari.com/1/97/co341S.jpg');
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}
header img {
    height: 5vw;
}
header h1 {
    font-size: 3.5vw;
    padding-left: -10vw;
}
body {
    display: flexbox;
    justify-content: center;
    align-items: center;
}
section {
    text-align: center;
}
button, input {
    border-radius: 50%;
    height: 10vw;
    width: 10vw;
    background-image: url('shorturl.at/uIJPY');
    cursor: pointer;
    font-weight: bold;
}
