html {
    color: rgb(255, 232, 31);
    background-color: black;
    background-image: url('https://cdn.wallpapersafari.com/1/97/co341S.jpg');
}
header{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
}
header img {
    height: 5vw;
}

header nav {
    display:flex;
    align-self: center;
}
header nav div {
    border-radius: 100%;
    color:#FFE81F;
    border-color: black;
    border-width: 0px;
    height: 10vw;
    width: 10vw;
    min-width: 100px;
    background: url('https://w7.pngwing.com/pngs/361/43/png-transparent-star-wars-tiny-death-star-yoda-anakin-skywalker-r2-d2-death-star-purple-sphere-r2d2-thumbnail.png') no-repeat scroll;
    background-color: black;
    background-size: contain;
    cursor: pointer;
    font-weight: bold;
    transition: transform .2s;
    text-align:center;
    
}
header nav div:hover {
    transform: scale(1.5);
}
body {
    justify-content: center;
}
.sidebar {
    display: flex;
    text-align: left;
    flex-direction:column;
    background-color: rgb(255, 232, 31);
    color: black;
    width: 30%;
    min-height: 60vw;
    border-radius: 5%;
    margin-left: 1vw;
    float:left;
    margin-top: 2vw;
}
nav h2 {
    text-align: center;
    padding-top: 1vw;
}
.info-section {
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 33,46);
    float: right;
    width: 65%;
    min-height: 60vw;
    border-radius: 5%;
    margin-right: 1vw;
    margin-left: 1vw;
    margin-top: 2vw;
    color: black;
}
img {
    height: 250px;
    width: 250px;
}
.data-title {
    padding: 1vw 1vw 1vw 4vw;

}
#listContainer {
    display: flex;
    justify-content: space-between;
    color: black;

}
h2 {
    font-size: 3vw;
}
ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    line-height: 3vw;
    align-content: center;
}
p {
    display: flex;
    justify-content: left;
    padding: 10px;
    font-size: 18px;
}
body h1{
    color: black;
    line-height: 20px;
}
#infoHeader {
    display: flex;
    justify-content: right;
    color: black;
    padding-right: 20px;
    font-size: 3vw;
}
#infoBody {
    color: blue;
}

#pageTitle {
    color:#FFE81F;
    font-size: 3.5vw;
    padding-left: -10vw;
}
