html {
    color: rgb(255, 232, 31);
    background-color: black;
    background-image: url('https://cdn.wallpapersafari.com/1/97/co341S.jpg');
}
header{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
}
header img {
    height: 120px;
    width: 250px
}
#pageTitle {
    color:#FFE81F;
    font-size: 3.5vw;
    padding-left: -10vw;
}
header nav {
    display:flex;
    align-self: center;
}
header nav div {
    border-radius: 100%;
    color:#FFE81F;
    border-color: black;
    border-width: 0px;
    min-width: 103px;
    min-height: 103px;
    background: url('https://w7.pngwing.com/pngs/361/43/png-transparent-star-wars-tiny-death-star-yoda-anakin-skywalker-r2-d2-death-star-purple-sphere-r2d2-thumbnail.png') no-repeat scroll;
    background-color: black;
    background-size: contain;
    cursor: pointer;
    font-weight: bold;
    transition: transform .2s;
    text-align:center;
    
}
header nav div:hover {
    transform: scale(1.5);
}
body {
    justify-content: center;
}
.sidebar {
    display: flex;
    text-align: left;
    flex-direction:column;
    background-color: rgb(41, 42, 45);
    color: black;
    width: 30%;
    min-height: 60vw;
    border-radius: 5%;
    margin-left: 1vw;
    float:left;
    margin-top: 2vw;
}
nav h2 {
    text-align: center;
    padding-top: 1vw;
}
section {
    display: flex;
    flex-direction: column;
    background-color: rgb(41, 42, 45);
    float: right;
    width: 65%;
    min-height: 60vw;
    margin-right: 1vw;
    margin-top: 2vw;
    border-radius: 5%;
    border: 1vw, groove, rgb(5, 6, 6);
    color: black;
}
section img {
    max-height: 250px;
}
.data-title {
    padding: 1vw 1vw 1vw 4vw;
}
#listContainer {
    display: flex;
    color: black;
}
h2 {
    font-size: 3vw;
}
ul {
    margin-right: 3vw;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    line-height: 3vw;
    align-content: center;
    color: black;
    cursor: pointer;
}
p {
    display: flex;
    padding: 10px;
    font-size: 18px;
}
body h1{
    color: black;
    line-height: 20px;
}
section p {
    color:(5, 6, 6);
    font-weight: 600;
}
#infoHeader {
    display: flex;
    justify-content: center;
    color: black;
    padding-right: 20px;
    font-size: 3vw;
}
#nextButton {
    cursor: pointer;
}

li {
    text-align: center;
    border-color: black;
    border: 5px ridge white;
    margin: 5px;
    background-color: grey;
}
